html *{  font-size: 20pt;
  text-transform: uppercase;
font-family: 'FuturaBook', Arial, sans-serif;
}
body {
    background-image: url("gcbw.jpg");
    background-repeat: no-repeat;
	  background-size:100% 100%; 
	    color: white;
}
.opaque {
opacity:1;
}
 .navbar{
           background-color: transparent;
    background: transparent;
   /* border-width: 1px; */
	border: none;
        border-radius: 0;
        background-color: rgba(0,0,0,0.1);
		 font-family: 'FuturaBook', Arial, sans-serif;

  font-size: 20pt;
  text-transform: uppercase;
    }
	